:root {
  --accent-line: #534B52;
  --bg-ui: #E0DDCF;
  --side-margin: 25%;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  margin: 1rem var(--side-margin);
}

.highlight {
  background-color: var(--bg-ui);
  padding: 0.5rem;
  border: var(--accent-line) 1px solid;
  border-radius: 5px;
  text-align: center;
}

.wrapper li {
  line-height: 1.6;
}

.chartWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  min-height: 0;
  padding: 10px 0;
}
