:root {
  --accent-line: #534B52;
  --side-margin: 25rem;
}

.wrapper {
  display: flex;
  flex: 1;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 var(--side-margin);
}

.title {
  padding: 1rem;
  border-bottom: var(--accent-line) 0.1rem solid;
  text-align: center;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 1rem;
}
